* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
    font-family: Raleway, sans-serif;
}


/* nav section */

nav {
    background-color: #F47A65 !important;
    box-shadow: 0px 7px 22px 1px rgba(244, 123, 101, 0.83);
    font-family: Megrim, sans-serif;
}

.navbar .nav-item {
    font-size: 1.7rem;
}

.navbar img {
    width: 300px;
    height: 100px;
}

.dropdown-item:hover {
    color: #fff;
    background-color: #2c3440;
}


/* Main Photo */

#mainPhoto {
    margin: 20px;
    height: 400px;
    width: 100%;
    background: url('../assets/MainPhoto.jpg');
    background-size: cover;
    background-position: center;
}

h1 {
    text-align: center;
    color: rgba(244, 123, 101, 0.83);
    margin-top: 10px;
}

h3 {
    color: rgba(244, 123, 101, 0.83);
}


/* card */

.card {
    margin: 20px;
    text-align: center;
    transition: all ease 500ms;
}

.card-img-top {
    height: 300px;
    width: 100%;
    object-fit: contain;
}

.card .btn {
    background-color: #F47A65;
    color: white;
}

.card:hover {
    transform: scale(1.1);
    cursor: pointer;
}

span {
    font-weight: bold;
}